    table{
    border: 1px solid green;
    border-collapse: collapse;
    width: 70%;
    height: 70%;   
    text-align: center;}
    th{border: 1px solid green;}
    td{border: 1px solid green;}
    tr:first-child{
        background-color: rgb(12, 184, 12);    }
    tr:nth-child(2){
        background-color: rgb(168, 219, 168);
    }