table{
    border-collapse: collapse;
    border: 1px solid rgb(0, 153, 255);
    width: 70%;  
    height: 70%;  
    text-align: center;
    margin: 10px;}
    th{border: 1px solid green;}
    td{border: 1px solid green;}
    tr:first-child{
        background-color: rgb(0, 68, 255);    }
    tr:nth-child(2){
        background-color: rgb(0, 68, 255);    }